@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');


.esncyan {
    color: #00aef0;
}

.esnmagenta {
    color: #ed008c;
}
.esngreen {
    color: #7ac143;
}
.esnorange {
    color: #f47b20;
}
 
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 150%;
}

a {
color: #00AEEF;
}

strong {
color: #2E3192;
}


.leadLogo {
  width:200px;
}

.socialIcon {
  color: #777;
}

.em-small {
   font-size: 60%;
   padding-left: 35px;
}

.wgRef {
    border-bottom:1px solid #2E3192;
    position: relative;
    top: -15px;
    font-size: 85%;
}
.brRef {
    border-bottom:1px solid #7ac143;
    position: relative;
    top: -15px;
    font-size: 85%;
}
cite {
    display: block;
    font-size: small;
    border-left: 3px solid #00aef0;
    padding: 5px;
    margin-bottom: 5px;
}

#back2Top {
    width: 40px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: fixed;
    bottom: 10px;
    right: 0;
    color: #555;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
}

#back2Top:hover {
    background-color: #2E3192;
    color: #FFFFFF;
}



#openMenu {
    width: 40px;
    overflow: hidden;
    z-index: 999;
    cursor: pointer;
    position: fixed;
    top: 10px;
    right: 0;
    color: #555;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
    filter: brightness(100);
    display:none;
}

#openMenu:hover {
    background-color: #2E3192;
    color: #FFFFFF;
}
/* MOBILE */
@media only screen and (max-width: 976px) {
    #openMenu { 
        display: inline;
    }
}
